<a class="item brand">
  <i class="crosshairs icon"></i>

  <strong>Converge</strong>
</a>

{{!-- {{#link-to "home" classNames="item"}} Home {{/link-to}} --}}

<div class="right compact menu">
  <div class="ui inline simple dropdown item">
    <div class="text">
      {{#each account.characters as |character|}}
        <img class="ui avatar image image-holographic" src={{character-portrait id=character.characterId size=64}} />
      {{/each}}
    </div>

    <i class="dropdown icon"></i>

    <div class="menu">
      <a href="/api/auth/authorize?account={{account.id}}" class="item">Link another character</a>
      <div class="item" {{action logout}}>Log out</div>
    </div>
  </div>
</div>
