<div class="ui grid container">

  <div class="sixteen wide column">
    {{#if account}}
      {{nav-bar
        account=account
        logout=(route-action 'logout')
        }}
    {{/if}}

    {{outlet}}
  </div>
</div>
